body {
    background-color:black;
}

h1 {
    color:aquamarine;
    font-family:Arial, Helvetica, sans-serif;
    font-size:xx-large;
    text-decoration-line:underline;
    text-decoration-color:white;
}